<div class="navigation-container">
    <a class="link" [routerLink]="[appRoutesEnum.MANAGE_QUESTIONS_ROOT]"><span>Go to the Manage Questions Page</span></a>
</div>
<div class="list-container">
    <div class="answered-questions-container">
        <h2>Answered Questions</h2>
        <div class="list" *ngIf="answeredQuestions.length; else emptyList">
            <div *ngFor="let question of answeredQuestions">
                <app-question-card        
                [question]="question"
                (submitAnswer)="answerQuestion($event)"
                [whoCall]="appRoutesEnum.LIST_OF_QUESTIONS_RElATIVE"
                >
                </app-question-card>
            </div>
        </div>
    </div>
    <div class="unanswered-questions-container">
        <h2>Unanswered Questions</h2>
        <div class="list" *ngIf="unansweredQuestions.length; else emptyList">
            <div *ngFor="let question of unansweredQuestions">
                <app-question-card
                [question]="question"
                (submitAnswer)="answerQuestion($event)"
                [whoCall]="appRoutesEnum.LIST_OF_QUESTIONS_RElATIVE"
                >
                </app-question-card>
            </div>
        </div>
    </div>
</div>

<ng-template #emptyList>
    <div class="empty-list">
        List is empty.
    </div>
</ng-template>
