@import '../app.component.scss';

.question-card {
    border-radius: 4px;
    margin: 10px 5px;
    text-align: left;
    max-width: 600px;
    min-width: 450px;
    position: relative;
    box-shadow: 0px 5px 5px 0px #0000004d;
    background-color: #fff;
    margin-bottom: 15px;
}
.question-text {
    padding: 15px 10px 15px 10px;
     span {
        font-size: 18px;
     }
}
.question-details {
    span {
        font-size: 15px;
    }
}

.buttons-container {
    margin-top: 10px;
}

.button {
    background-color: white;
    border: 1px solid;
    border-radius: 4px;
    font-size: 16px;
    &:hover {
        cursor: pointer;
        background-color: #ededed;
    }
    &:nth-of-type(2) {
        margin-left: 10px;
    }
}

.button-container {
    padding: 5px;
    display: flex;
    button {
        margin-left: auto;
        padding: 6px;
    }
}

strong {
    font-size: 15px;
}
.manage-question-footer {
    padding: 0 10px 10px 10px;
    border-top: 1px solid #ccc;
    background-color: #f1f1f1;;
}
.question-details {
    span:not(:first-child)  {
        margin-left: 10px;
    }
}

textarea {
    @include textarea-mixin;
    border-top: 1px solid #ccc;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    &:focus {
        border: none;
        border-top: 1px solid #ccc;
        outline: none;
        border-bottom: 1px solid #ccc;
    }
}

.radion-or-check:hover {
    cursor: pointer;
}

.question {
    font-size: 18px;
}

.answer-group {
    margin-bottom: 10px;
}
.content-for-list-page {
    background-color: #ededed;
}
.check-radio-container {
    margin-left: 10px;
}
.answered-questions {
    display: flex;
    flex-direction: column;
    background-color: #ededed;
    span {
        padding-left: 10px;
        margin: 5px;
        font-size: 16px;
    }
    ul {
        margin-left: 10px;
        line-height: 1.2em;
        margin: 0;
        li {
            font-size: 16px;
        }
    }
    strong {
        color: #8b1818;
    }
}
.margin-top-border {
    border-top: 1px solid #ccc;
    margin-top: 10px;
}

.padding-top {
    padding-top: 10px;
}

.type-span {
    margin-top: 3px;
    margin-left: 10px;
    color: #919191;
}
