<div class="question-card">
    <div class="question-text">
        <span>
            {{ question?.question }}
        </span>
    </div>
    <ng-template *ngIf="whoCall === appRouteEnum.MANAGE_QUESTIONS_RELATIVE" [ngTemplateOutlet]="template_for_management_page"></ng-template>
    <ng-template *ngIf="whoCall === appRouteEnum.LIST_OF_QUESTIONS_RElATIVE && !question?.answered" [ngTemplateOutlet]="template_for_list_page_ununswered"></ng-template>
    <ng-template *ngIf="whoCall === appRouteEnum.LIST_OF_QUESTIONS_RElATIVE && question?.answered" [ngTemplateOutlet]="template_for_list_page_unswered"></ng-template>
</div>

<ng-template #template_for_management_page>
    <div class="manage-question-footer">
        <div class="question-details">
            <span><strong>Date created:</strong> {{ date }}</span>
            <span><strong>Is answered:</strong> {{ answered }}</span>
            <span><strong>Type: </strong>{{ type }}</span>
        </div>
        <div class="buttons-container">
            <button class="button" [routerLink]="[appRouteEnum.EDIT_QUESTIONS_RELATIVE, id]" [state]="{question: question}"><i class="fa fa-edit"></i> Edit question</button>
            <button class="button" (click)="onDeleteQuestion()"><i class="fa fa-trash"></i> Delete question</button>
        </div>
    </div>
</ng-template>

<ng-template #template_for_list_page_ununswered>
    <div class="content-for-list-page" [ngClass]="{'padding-top': question?.type !== questionTypesEnum.OPEN}">
        <ng-container [ngSwitch]="question?.type">
            <ng-template *ngSwitchCase="questionTypesEnum.OPEN" [ngTemplateOutlet]="open"></ng-template>
            <ng-template *ngSwitchCase="questionTypesEnum.SINGLE" [ngTemplateOutlet]="single"></ng-template>
            <ng-template *ngSwitchCase="questionTypesEnum.MULTIPLE" [ngTemplateOutlet]="multi"></ng-template>
        </ng-container>
    
        <div class="button-container" [ngClass]="{'margin-top-border': question?.type !== questionTypesEnum.OPEN}">
            <span class="type-span">{{ type }}</span>
            <button 
                class="button submit-button" 
                (click)="submitAnsver()"
                [disabled]="!isFormValid"
                ><i class="fa fa-paper-plane"></i> Submit answer</button>
        </div>
    </div>

    <ng-template #open [formGroup]="formGroup">
        <textarea [formControlName]="'openAnswer'" placeholder="Type answer here" cols="30" rows="5"></textarea>
    </ng-template>
    
    <ng-template #single [formGroup]="formGroup">
        <div *ngFor="let answer of question?.answers; let i=index" class="check-radio-container">
            <div class="answer-group">
                <input type="radio" class="radion-or-check" [value]="i" [formControlName]="'singleChoice'"><span class="question"> {{ answer }}</span>
            </div>
        </div>
    </ng-template>
    
    <ng-template #multi [formGroup]="formGroup">
        <div *ngFor="let control of multiChoiceArray.controls; let i=index" class="check-radio-container">
            <ng-container formArrayName="multiChoiceArray">
                <div class="answer-group">
                    <input type="checkbox" class="radion-or-check" [formControlName]="i"><span class="question"> {{ question?.answers?.[i] }}</span>
                </div>
            </ng-container>
        </div>
    </ng-template>

</ng-template>


<ng-template #template_for_list_page_unswered>
    <div class="answered-questions">
        <span><strong>Type: </strong>{{ type }}</span>
        <span *ngIf="question?.type !== questionTypesEnum.OPEN"><strong>Possible Answers: </strong></span>
        <ul class="answers_text">
            <li *ngFor="let answer of question?.answers">{{ answer }}</li>
        </ul>
        <span> <strong>{{ question?.answersChosenByUser?.length === 1 ? 'Answer' : 'Answers'}} chosen by user:</strong></span>
        <ul class="answers_text">
            <li *ngFor="let answer of question?.answersChosenByUser">{{ answer }}</li>
        </ul>

        <div class="button-container" [ngClass]="{'margin-top-border': question?.type !== questionTypesEnum.OPEN}">
            <button 
                class="button submit-button" 
                (click)="returnToUnunswered()"
                ><i class="fa fa-arrow-right"></i> Return to ununswered</button>
        </div>
    </div>
</ng-template>