<div class="manage-questions">
    <h1 class="header">All Questions</h1>
    <div class="navigation-container">
        <a [routerLink]="['/list-of-questions']"><span>Go to the Lists of Questions </span></a>
        <button class="button" [routerLink]="'create-question'">Create question</button>
    </div>
    <ng-container *ngIf="questions$ | async as questions">
        <ng-container *ngIf="questions.length; else emptyList">
            <div *ngFor="let question of questions">
                <app-question-card
                    [question]="question"
                    [calle]="appRouteEnum.MANAGE_QUESTIONS"
                    (deleteQuestion)="deleteQuestion($event)"
                ></app-question-card>
            </div>
        </ng-container>
    </ng-container>
</div>

<ng-template #emptyList>
    <div class="empty-list">
        List is empty. Add some questions to see them here (:
    </div>
</ng-template>