<div class="container" [formGroup]="formGroup">
    <h1>{{ isEditMode ? 'Edit Question' : 'Create Question' }}</h1>
    <div class="navigation-container">
        <a class="link" [routerLink]="[appRoutesEnum.MANAGE_QUESTIONS_ROOT]"><span>Go to the Manage Questions Page</span></a>
    </div>
    <div class="content">
        <textarea cols="30" rows="5" placeholder="enter question" [formControlName]="'question'"></textarea>
        <div class="type-buttons">
            <ng-container *ngFor="let name of questionTypeNames">
                <div class="radio-with-label">
                    <input class="radio" type="radio" [value]="name" [formControlName]="'type'">
                    <label (click)="selectType(name)">{{ name }}</label>
                </div>
            </ng-container>
        </div>
        <div class="answers" [ngSwitch]="true">
            <div *ngSwitchCase="selectedType == questionTypesEnum.SINGLE || selectedType == questionTypesEnum.MULTIPLE">
                <ng-template [ngTemplateOutlet]="questionsList"></ng-template>
            </div>
        </div>
        <button 
            class="button save-button" 
            [disabled]="!(formGroup.valid && isInputsValid)"
            (click)="saveQuestion()"
            ><i class="fa fa-save"></i> Save</button>
    </div>
</div>


<ng-template #questionsList>
    <div [formGroup]="formGroup">
        <div formArrayName="controlsArray" class="inpits-container">
            <div *ngFor="let control of controlsArray.controls; let i=index">
                <input class="text-input" type="text"  [formControlName]="i" [placeholder]="'enter possible answer'">
            </div>
            <button
            [disabled]="this.controlsArray.length === controlsMaxLength" 
            class="button add-input-button" 
            (click)="addQastionInput()"
        ><i class="fa fa-plus"></i></button>
        </div>
    </div>
</ng-template>