@mixin textarea-mixin {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: block;
    box-sizing: padding-box;
    overflow: hidden;
    padding: 10px;
    width: 100%;
    max-width: 100%;
    max-height: 150px;
    font-size: 18px;
    border: 0;
    border-bottom: 1px solid #ccc;
    
    &:focus{
      border: none;
      outline: none;
      border-bottom: 1px solid #ccc;;
    }
}