.navigation-container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.question-cards-container {
    height: calc(100vh - 120px);
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

.header {
    padding-left: 10px;
}
.empty-lis {
    padding-left: 10px;
}